@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply leading-normal font-normal text-[rgba(255,255,255,0.87)] bg-[#efefef];
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  a {
    @apply font-medium text-[#646cff] hover:text-[#535bf2];
    text-decoration: inherit;
  }
  body {
    @apply min-w-[320px] min-h-screen m-0 overflow-hidden;
  }
  h1 {
    @apply text-[3.2em] leading-[1.1];
  }
  button {
    @apply text-base w-fit flex flex-row gap-2 justify-center items-center p-2 border-none rounded-md
    cursor-pointer;
    font-family: inherit;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  code {
    @apply bg-[#d3d3d3] rounded mx-1 my-0 px-1 py-0.5;
  }
  input {
    @apply bg-gray-200 border-none border-gray-200 min-h-10 w-full rounded-md text-base text-gray-500
  }
  input[type="file"] {
    @apply hidden
  }
  input[type="number"] {
    @apply w-fit ml-2
  }
  select {
    @apply text-base p-1 w-fit
  }
}

@layer components {
  #root {
    @apply h-dvh w-dvw flex
  }
  .modal {
    @apply relative w-full max-w-[70dvw] min-w-[20dvw] shadow-[0_0_0.5rem_0.25rem_hsl(0_0%_0%_/_10%)] p-8 rounded-lg border-0 bg-white
    text-black space-y-4 overflow-x-hidden;
  }
  .modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  .settings-panel-button {
    @apply bg-green-500 rounded-md h-10 aspect-square flex justify-center items-center text-white cursor-pointer
  }
}

@media (prefers-color-scheme: light) {
  a:hover {
    @apply text-[#747bff];
  }
  button {
    @apply bg-[#f9f9f9];
  }
  code {
    @apply bg-[#f9f9f9];
  }
}